.jake_header {
    text-align: center;
    margin: 2rem 0;
}
.jake_footer {
    text-align: center;
    margin-top: 2rem;
}
.jake_logo {
    font-family: 'Rajdhani', sans-serif;
}
.jake_footer .jake_footer_button {
    font-size: .9rem;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.header_nav {
    margin: 0 0.5rem;
}

.header_nav_bar {
    margin: 1rem 0;
}